MvcApplication2/MvcApplication2/Service References/ServiceReference3/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="validate_login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validate_loginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="validate_loginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insert_user">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="first_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="last_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mobile_no" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dob" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insert_userResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insert_userResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sendmailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="first_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="last_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="send_request">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_one" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user_two" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="action_user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="send_requestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="send_requestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="accept_request">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_one" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user_two" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="action_user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="accept_requestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accept_requestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="show_request">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_one" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="show_requestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="show_requestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="friendship">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_one" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="friendshipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="friendshipResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="unfriend">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_one" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user_two" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="action_user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="unfriendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="unfriendResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>